body {
  margin-top: 45px;
}

main header {
  margin-top: 50px;
  text-align: center;
}
main header h1 {
  font-size: 44px;
  margin-bottom: 3px;
}
main header h2 {
  font-size: 30px;
  margin: 0 0 40px;
}

section {
  padding-bottom:50px;
  min-height:100%;
  min-height:calc(100% - 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.iconlist {
  float: left;
  margin: 13.5px;
}

.iconlist span {
  font-size: 17px;
}

#menu {
  background-color: rgba(255,255,255,0.75);
}

#menu.grid>.row {
  padding: 0;
}

#mobile-menu a{
  margin: 5% auto;
  padding: 5% auto;
  color: #ffffff;
}

#intro img {
  width: 85%;
}

#map {
  width: 85%;
  height: 300px;
}

#site-title {
  font-size: 4.5em;
  letter-spacing: -3px;
  margin: 0px 0px 0.15em;
  transition: font-size 0s ease 0s, letter-spacing 0.5s ease-out 0s;
}


#site-description {
  font-size: 1.5em;
}

#banner {
  margin: 0px;
  position: relative;
  text-align: center;
  padding: 0px;
  background: rgba(0,0,0,0.4) center center url(../img/background.JPG);
  background-size: cover;
}

#banner .hgroup {
  padding: 70px;
  background-color: rgba(255, 255, 255, 0.65);
}

#footer {
  padding: 70px 0px 0px 0px;
}


.color-line {
  background: #f7f9fa;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
  background-size: 100% 2px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
